<mat-toolbar
    color="primary"
    id="home_toolbar">
    <a [routerLink]="['/']">
        <img src="../assets/images/logos/Initiale.png"
            alt="Logo of the website"
            id="logo">
    </a>
    <a [routerLink]="['/']"
        id="title">
        Yrrieth's website
    </a>
    <!--<app-button-before-login *ngIf="routeHidden"
        id="button_before_login"></app-button-before-login>-->

    <app-button-before-login *ngIf="routeHidden"
        id="button_before_login"></app-button-before-login>
</mat-toolbar>

<div *ngIf="routeHidden">
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <span>Element de la base de donnée : </span>
    <ul *ngIf="users">
        <li *ngFor="let user of users">{{user.userId}} {{user.username}}</li>
    </ul>
</div>
